.section1 {
    display: flex;
    gap: 10px;
}

.shape {
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 20px;
    ;
}

.shape1,
.shape2,
.shape3 {
    margin: unset;
    padding: 100px;
    background-color: rgb(209, 209, 209);
}

.shape1 {
    border: 10px solid red;
}

.shape2 {
    border-right: 10px solid green;
    border-left: 10px solid green;
    border-top: 10px solid blue;
    border-bottom: 10px solid blue;
}

.shape3 {

    border-top: 10px solid red;
    border-right: 10px solid green;
    border-bottom: 10px solid blue;
    border-left: 10px solid yellow;
    border-style: dashed;
}



/* section2
 */
.section2 img {
    height: clamp(15.625rem, 12.3239rem + 14.0845vw, 25rem);
    object-fit: contain;
}

.section2 .circle {
    height: clamp(15.625rem, 10.1232rem + 23.4742vw, 31.25rem);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px solid;
}


.section2 img {
    width: clamp(9.375rem, 6.0739rem + 14.0845vw, 18.75rem);
    height: clamp(9.375rem, 6.0739rem + 14.0845vw, 18.75rem);
    object-fit: contain;
    z-index: 3;
}

.section2 .img1,
.section2 .img2,
.section2 .img3 {
    display: flex;
    justify-content: center;
}

.section2 .img-left {
    position: absolute;
    transform: translate3d(-150%, -50%, 0);
    transition: all 0.5s ease-in-out;
}

.section2 .img-center {
    position: absolute;
    transform: translate3d(0%, -50%, 0);
    transition: all 0.5s ease-in-out;
}

.section2 .img-right {
    position: absolute;

    transform: translate3d(150%, -50%, 0);
    transition: all 0.5s ease-in-out;
}

.section2 .circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: bold;


    --R_Value: calc(clamp(15.625rem, 10.1232rem + 23.4742vw, 31.25rem) / 2);

    offset-path: circle(var(--R_Value) at 50% 50%);



}


.section2 .circle span:nth-child(1) {
    offset-distance: 0%;
    offset-rotate: 83deg;
}

.section2 .circle span:nth-child(2) {
    offset-distance: 25%;
    offset-rotate: 172deg;
}

.section2 .circle span:nth-child(3) {
    offset-distance: 50%;
    offset-rotate: -100deg;
}

.section2 .circle span:nth-child(4) {
    offset-distance: 75%;
    offset-rotate: -7deg;
}

@keyframes rotate-right {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-left {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

.rotate-right {
    animation: rotate-right 1s linear;
}

.rotate-left {
    animation: rotate-left 1s linear;
}



/* section3
 */
 .section3{
    transition: all 1s ease-in-out;
 }

 /* دايره المشروبات*/
.section3 .circle {
    height: clamp(12.5rem, -0.7042rem + 56.3380vw, 50rem);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
   
    right: 50%;
    transform: translate(50%, 15%);
    animation: routat 20s linear infinite;
    transition: all 1.5s ease-in-out;
}

/*توزيع الصور علي الدايره */
.section3 .circle div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -100%);
    --R_Value: calc(clamp(12.5rem, -0.7042rem + 56.3380vw, 50rem) / 2);
    offset-path: circle(var(--R_Value) at 50% 50%);
    width: clamp(5.625rem, 3.2042rem + 10.3286vw, 12.5rem);

}

/*صور الفاكهه*/
.section3 .fruts img {
    width: clamp(12.5rem, 5.8979rem + 28.1690vw, 31.25rem);
    transition: all 1.5s ease-in-out;
}

.section3 .circle div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}




/* موقع الصور علي الدايره*/
.section3 .circle div:nth-child(1) {
    offset-distance: 75%;
    offset-rotate: 0deg;
}

.section3 .circle div:nth-child(2) {
    offset-distance: 50%;
    offset-rotate: -90deg;
}

.section3 .circle div:nth-child(3) {

    offset-distance: 25%;
    offset-rotate: 180deg;
}

.section3 .circle div:nth-child(4) {
    offset-distance: 0%;
    offset-rotate: 90deg;
}



.fruts-img{
    opacity: 0;
    transition: all 1s ease-in-out;
}
.fruts-img.active{
    opacity: 1;
}

.info-div {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 1s ease-in-out;
}
.info-div.active {
    opacity: 1;
}
.info-div h2{
    font-size: 2rem;
    font-weight: 700;
    color: white;
}
.info-div p{
    color: rgb(255, 255, 255);
}
